<!DOCTYPE html>
<html>
<head>
  <title>Qd</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal", id="navbar">
      <a class="pure-menu-heading" href="", id="logo">qd.fm</a>

      <ul >
        <% if signed_in? %>
        <li><%= image_tag(current_user.profile_pic_url, id: 'profile-image') %></li>
        <li> <%= link_to 'Log out', logout_path, method: :get, class: 'pure-button',  id: 'logout-button' %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>

  <div class="pure-menu pure-menu-open pure-menu-horizontal", id="player">
    <div id="controls">
      <i class="icon-backward icon-large" id="previous"></i> 
      <i class="icon-play icon-large" id="play"></i> 
      <i class="icon-forward icon-large" id="next"></i> 
    </div>

    <div id="player-center">
      <div id="song-info">
        <span id="track"> Song </span> -- <span id="artist"> Artist</span>
      </div>
      <div >
        <i class="icon-play icon-large"></i> 
      </div>
    </div>
    <div id="album-art-container">
        <%= image_tag("http://rdio-b.cdn3.rdio.com/album/8/2/5/0000000000019528/2/square-200.jpg", id: 'album-art') %>
    </div>
  </div>
</body>
</html>
